<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <!-- DB -->
        <add key="dbPort" value="3306" />
        <add key="dbUserId" value="oj9" />
        <add key="dbUserPw" value="oj9123$" />
        
        <!-- Login -->
        <add key="loginDatabase" value="login" />
        <add key="loginServerPort" value="5000" />

        <!-- Lobby -->
    </appSettings>
</configuration>