<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <!-- DB -->
        <add key="dbPort" value="3306" />
        <add key="dbUserId" value="oj9" />
        <add key="dbUserPw" value="oj9123$" />
        
        <!-- fluffy_war (info) -->
        <add key="fluffy_war_db" value="fluffy_war" />
        
        <!-- Login -->
        <add key="loginDatabase" value="login" />
        <add key="loginPort" value="5000" />

        <!-- Lobby -->
        <add key="lobbyDatabase" value="lobby" />
        <add key="lobbyServerPort" value="5001" />
        
        <!-- Game -->
        <!-- Soccer -->
        <add key="SoccerPort" value="5002" />
        
    </appSettings>
</configuration>