<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="loginServerPort" value="5000" />
        <add key="dbPort" value="3306" />
        <add key="Database" value="login" />
        <add key="dbUserId" value="oj9" />
        <add key="dbUserPw" value="oj9123$" />
    </appSettings>
</configuration>